# Mac OS X
*.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Windows build files
vc*.idb
vc*.pch
vc*.pdb

/build
/dist
/scratch
/configure
/config.log
/config.status
/config.cache
/Makefile
/autom4te*.cache
/.gdb_history
/librets-config
/librets-config-inplace
/.gdbinit

project/build/config.vc
project/build/Doxyfile

project/examples/src/build

project/librets/src/config.h
project/librets/src/build

project/librets/test/src/build

project/swig/csharp/librets.*
project/swig/csharp/librets_wrap.cpp
project/swig/csharp/librets_wrap.h
project/swig/csharp/*.dll
project/swig/csharp/*.obj
project/swig/csharp/*.exe
project/swig/csharp/*.mdb
project/swig/csharp/bin
