# Mac OS X
*.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

/build
/dist
/scratch
/configure
/config.log
/config.status
/config.cache
/Makefile
/autom4te*.cache
/.gdb_history
/librets-config
/librets-config-inplace
/.gdbinit
